<h2>Reactive Forms</h2>
<form [formGroup]="regForm" (ngSubmit)="save()">
    <input type="text" formControlName="email" placeholder="Type Email">
    <br>
    <span *ngIf="!regForm.get('email').valid"></span>
    <div formGroupName="personal">
        <input type="text" formControlName="username" placeholder="Type UserName">
        <span *ngIf="!regForm.get('personal.username').valid"></span>
    </div>
    <button (click)="add()">Add Experience</button>
    <div *ngFor="let e of regForm.get('exp').controls;let i=index">
        <input type="text" [formControlName]="i">
    </div>
    <button (click)="addGroup()"> Add Group</button>
    <button type='submit'>Register</button>
    <br> >
    <div *ngFor="let exp of regForm.get('mygroup').controls;let i=index">
        <div [formGroupName]="i">
            <div class="form-group">
                <input class="form-control" type="text" name="emplname" formControlName="employerName" placeholder="Employer">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="desg" formControlName="designation" placeholder="Designation">
            </div>
            <div class="form-group">
                <input class="form-control" type="date" name="startDate" formControlName="startDate" placeholder="Start Date">
            </div>
            <div class="form-group">
                <input class="form-control" type="date" name="endDate" formControlName="endDate" placeholder="End Date">
            </div>
            <div>
                <button type="button" class="btn btn-danger" (click)="removeEmployer(i)">Remove</button>
            </div>
        </div>
    </div>



</form>